.elementor-28 .elementor-element.elementor-element-33e011a {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-33e011a .elementor-heading-title {
	color: #29363C;
}

.elementor-28 .elementor-element.elementor-element-33e011a>.elementor-widget-container {
	margin: 0px 0px 23px 0px;
}

.elementor-28 .elementor-element.elementor-element-f7ce804>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
    width: 96%;
}

.elementor-28 .elementor-element.elementor-element-f7ce804 {
	margin-top: 0px;
	margin-bottom: 40px;
}

.elementor-28 .elementor-element.elementor-element-5a3e3fd:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-5a3e3fd>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/BGWeb.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-28 .elementor-element.elementor-element-5a3e3fd>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-5a3e3fd>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-5a3e3fd>.elementor-background-slideshow {
	border-radius: 37px 37px 37px 37px;
}

.elementor-28 .elementor-element.elementor-element-5a3e3fd>.elementor-element-populated {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 5px 5px 5px 5px;
	padding: 23px 23px 23px 23px;
}

.elementor-28 .elementor-element.elementor-element-5a3e3fd>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-761561e {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-761561e img {
	max-width: 102px;
}

.elementor-28 .elementor-element.elementor-element-761561e>.elementor-widget-container {
	border-radius: 62px 62px 62px 62px;
}

.elementor-28 .elementor-element.elementor-element-d8b4179 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-4203ca5 {
	color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-5fcd38f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-5fcd38f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/BGWeb.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-28 .elementor-element.elementor-element-5fcd38f>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-5fcd38f>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-5fcd38f>.elementor-background-slideshow {
	border-radius: 37px 37px 37px 37px;
}

.elementor-28 .elementor-element.elementor-element-5fcd38f>.elementor-element-populated {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 5px 5px 5px 5px;
	padding: 23px 23px 23px 23px;
}

.elementor-28 .elementor-element.elementor-element-5fcd38f>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-047706b {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-047706b img {
	max-width: 123px;
}

.elementor-28 .elementor-element.elementor-element-1b8bee1 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-744080d {
	color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-40a6eb9:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-40a6eb9>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/BGWeb.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-28 .elementor-element.elementor-element-40a6eb9>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-40a6eb9>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-40a6eb9>.elementor-background-slideshow {
	border-radius: 37px 37px 37px 37px;
}

.elementor-28 .elementor-element.elementor-element-40a6eb9>.elementor-element-populated {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 5px 5px 5px 5px;
	padding: 23px 23px 23px 23px;
}

.elementor-28 .elementor-element.elementor-element-40a6eb9>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-ba562b0 {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-ba562b0 img {
	max-width: 68px;
}

.elementor-28 .elementor-element.elementor-element-363353c .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-f901cf2 {
	color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-5b1edd8>.elementor-container>.elementor-column>.elementor-widget-wrap {
	align-content: center;
	align-items: center;
    width: 96%;
}

.elementor-28 .elementor-element.elementor-element-5b1edd8 {
	margin-top: 0px;
	margin-bottom: 120px;
}

.elementor-28 .elementor-element.elementor-element-51c42ef:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-51c42ef>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/BGWeb.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-28 .elementor-element.elementor-element-51c42ef>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-51c42ef>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-51c42ef>.elementor-background-slideshow {
	border-radius: 37px 37px 37px 37px;
}

.elementor-28 .elementor-element.elementor-element-51c42ef>.elementor-element-populated {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 5px 5px 5px 5px;
	padding: 23px 23px 23px 23px;
}

.elementor-28 .elementor-element.elementor-element-51c42ef>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-afafd89 {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-afafd89 img {
	max-width: 39%;
}

.elementor-28 .elementor-element.elementor-element-afafd89>.elementor-widget-container {
	border-radius: 62px 62px 62px 62px;
}

.elementor-28 .elementor-element.elementor-element-e0c8980 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-dfd9ece {
	color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-f8b14a1:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-f8b14a1>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/BGWeb.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-28 .elementor-element.elementor-element-f8b14a1>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-f8b14a1>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-f8b14a1>.elementor-background-slideshow {
	border-radius: 37px 37px 37px 37px;
}

.elementor-28 .elementor-element.elementor-element-f8b14a1>.elementor-element-populated {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 5px 5px 5px 5px;
	padding: 23px 23px 23px 23px;
}

.elementor-28 .elementor-element.elementor-element-f8b14a1>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-ab39791 {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-ab39791 img {
	max-width: 147px;
}

.elementor-28 .elementor-element.elementor-element-39894d7 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 25px;
	font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-7fe2c85 {
	color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-897262e:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-28 .elementor-element.elementor-element-897262e>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/BGWeb.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.elementor-28 .elementor-element.elementor-element-897262e>.elementor-element-populated,
.elementor-28 .elementor-element.elementor-element-897262e>.elementor-element-populated>.elementor-background-overlay,
.elementor-28 .elementor-element.elementor-element-897262e>.elementor-background-slideshow {
	border-radius: 37px 37px 37px 37px;
}

.elementor-28 .elementor-element.elementor-element-897262e>.elementor-element-populated {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin: 5px 5px 5px 5px;
	padding: 23px 23px 23px 23px;
}

.elementor-28 .elementor-element.elementor-element-897262e>.elementor-element-populated>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-28 .elementor-element.elementor-element-d80ee5c {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-d80ee5c img {
	max-width: 63%;
}

.elementor-28 .elementor-element.elementor-element-4993148 .elementor-heading-title {
	color: #FFFFFF;
	font-family: "Roboto", Sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-1848f53 {
	color: #FFFFFF;
}

.elementor-28 .elementor-element.elementor-element-8948cf6 {
	margin-top: 39px;
	margin-bottom: 120px;
}

.elementor-28 .elementor-element.elementor-element-8d5c280 {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-8d5c280 .elementor-heading-title {
	color: #29363C;
}

.elementor-28 .elementor-element.elementor-element-8d5c280>.elementor-widget-container {
	margin: 0px 0px 23px 0px;
}

.elementor-28 .elementor-element.elementor-element-68dabdc>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-7064370 {
	border-style: solid;
	border-width: 9px 0px 09px 0px;
	border-color: #383838;
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	margin-top: 70px;
	margin-bottom: 70px;
}

.elementor-28 .elementor-element.elementor-element-7064370>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-28 .elementor-element.elementor-element-d2eb7c4.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-28 .elementor-element.elementor-element-d2eb7c4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-28 .elementor-element.elementor-element-2aedfe2 img {
	width: 50%;
	filter: brightness( 100%) contrast( 100%) saturate( 100%) blur( 0px) hue-rotate( 0deg);
}

.elementor-28 .elementor-element.elementor-element-e01509a>.elementor-element-populated {
	padding: 24px 24px 24px 24px;
}

.elementor-28 .elementor-element.elementor-element-3c07942 {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-3c07942 .elementor-heading-title {
	color: #3A3A3A;
}

.elementor-28 .elementor-element.elementor-element-f5fa275 .elementor-button {
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #5b007b;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.elementor-28 .elementor-element.elementor-element-f5fa275 .elementor-button:hover,
.elementor-28 .elementor-element.elementor-element-f5fa275 .elementor-button:focus {
	background-color: #000000;
}

.elementor-28 .elementor-element.elementor-element-f5fa275>.elementor-widget-container {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-28 .elementor-element.elementor-element-704069f .elementor-button {
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #5b007b;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.elementor-28 .elementor-element.elementor-element-704069f .elementor-button:hover,
.elementor-28 .elementor-element.elementor-element-704069f .elementor-button:focus {
	background-color: #000000;
}

.elementor-28 .elementor-element.elementor-element-3334fd8 .elementor-button {
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #5b007b;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.elementor-28 .elementor-element.elementor-element-3334fd8 .elementor-button:hover,
.elementor-28 .elementor-element.elementor-element-3334fd8 .elementor-button:focus {
	background-color: #000000;
}

.elementor-28 .elementor-element.elementor-element-78461f6 .elementor-button {
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #5b007b;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.elementor-28 .elementor-element.elementor-element-78461f6 .elementor-button:hover,
.elementor-28 .elementor-element.elementor-element-78461f6 .elementor-button:focus {
	background-color: #000000;
}

.elementor-28 .elementor-element.elementor-element-52ae482 .elementor-button {
	font-family: "Roboto", Sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	background-color: #5b007b;
	border-radius: 0px 0px 0px 0px;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
}

.elementor-28 .elementor-element.elementor-element-52ae482 .elementor-button:hover,
.elementor-28 .elementor-element.elementor-element-52ae482 .elementor-button:focus {
	background-color: #000000;
}

.elementor-28 .elementor-element.elementor-element-7d96975 .elementor-heading-title {
	color: #313131;
	font-family: "Roboto", Sans-serif;
	font-size: 48px;
	font-weight: 600;
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(41px/2);
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(41px/2);
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(41px/2);
	margin-left: calc(41px/2);
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-41px/2);
	margin-left: calc(-41px/2);
}

body.rtl .elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-41px/2);
}

body:not(.rtl) .elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-41px/2);
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-icon i {
	color: #383838;
	font-size: 73px;
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-icon svg {
	fill: #383838;
	width: 73px;
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-icon {
	text-align: center;
}

.elementor-28 .elementor-element.elementor-element-2c96465 .elementor-icon-list-text {
	padding-left: 29px;
}

.elementor-28 .elementor-element.elementor-element-28b5085 img {
	width: 100%;
}

.elementor-28 .elementor-element.elementor-element-bdc8067>.elementor-container {
	min-height: 281px;
}

.elementor-28 .elementor-element.elementor-element-bdc8067:not(.elementor-motion-effects-element-type-background),
.elementor-28 .elementor-element.elementor-element-bdc8067>.elementor-motion-effects-container>.elementor-motion-effects-layer {
	background-image: url("../../2021/06/BGWeb.png");
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: -3rem;
}

.elementor-28 .elementor-element.elementor-element-bdc8067 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-28 .elementor-element.elementor-element-bdc8067>.elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-28 .elementor-element.elementor-element-06dbb0d.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-28 .elementor-element.elementor-element-06dbb0d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-28 .elementor-element.elementor-element-788e96b img {
	width: 70%;
}

.elementor-bc-flex-widget .elementor-28 .elementor-element.elementor-element-7206071.elementor-column .elementor-widget-wrap {
	align-items: center;
}

.elementor-28 .elementor-element.elementor-element-7206071.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
	align-content: center;
	align-items: center;
}

.elementor-28 .elementor-element.elementor-element-019f14f .elementor-heading-title {
	color: #FFFFFF;
}

@media(min-width:768px) {
	.elementor-28 .elementor-element.elementor-element-6d345bc {
		width: 15%;
	}
	.elementor-28 .elementor-element.elementor-element-9a67586 {
		width: 69.332%;
	}
	.elementor-28 .elementor-element.elementor-element-2f11c74 {
		width: 15%;
	}
	.elementor-28 .elementor-element.elementor-element-c2708b6 {
		width: 100%;
	}
	.elementor-28 .elementor-element.elementor-element-5d2a142 {
		width: 36%;
	}
	.elementor-28 .elementor-element.elementor-element-06dbb0d {
		width: 13.702%;
	}
	.elementor-28 .elementor-element.elementor-element-7206071 {
		width: 36.298%;
	}
}